body{
    margin: 0;
    padding: 0;
}
.sprite{
    position: relative;
    height: 325px;
    width: calc(1472px / 8);
    border: solid 1px black;
    overflow: hidden;
   /* background-image: url(images/capguy-walk-1472.png);*/
    background-repeat: no-repeat;
    /*transform: translateX(-184px);*/
    margin: 0 auto;
  /*   animation: animate 1s steps(8) infinite ;*/
    
}
/* 
@keyframes animate {
    from{
        background-position: 0;
    }
    to{
        background-position: -1472px;
    }
}*/